  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sockets</title>
    <link rel="stylesheet" href="static/css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Temperatura : <span id="dataTemperature"></span></h3>
        
        <h2>Plataforma : <span id="dataPlatform"></span></h2>
        
        <h2>CPU #: <span id="dataCPUS"></span></h2>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>